* {
    margin: 0;
}

a {
    text-decoration: none;
}

html, body {
    margin: 0;
    font-size: 0;
    text-align: center;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

button {
    border: none;
}

body {
    display: none;
    position: relative;
    background-color: black;
    overflow: hidden;
    animation-name: startup;
    animation-duration: 1s;
    -webkit-animation-name: startup;
    -webkit-animation-duration: 1s;
    -moz-animation-name: startup;
    -moz-animation-duration: 1s;
    -o-animation-name: startup;
    -o-animation-duration: 1s;
}

::-webkit-scrollbar {
    width: 1vw;
}
::-webkit-scrollbar-track {
    background: #ffffff;
}

::-webkit-scrollbar-thumb {
    background: #000000;
    border-right: 2px white solid;
}

.search-content_1 {
    width: 100%;
    height: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    overflow: hidden;
}

.search-content_2 {
    overflow: hidden;
    width: 100%;
    height: auto;
    margin: auto;
}

.wingamma-logo {
    width: 40%;
    margin: 0 0 2%;
}

.search-wrapper {
    margin: 2% 0 0;
}

.search-cover {
    margin-left: auto;
    margin-right: auto;
    outline: 0;
    background-color: white;
    padding-top: 0.66%;
    padding-bottom: 0.66%;
    border-radius: 100vh;
    width: 57%;
    border: none;
}

.search-inline {
    display: flex;
    align-items: center;
    vertical-align: center;
}

.search-icon {
    height: 100%;
    margin-left: 1%;
}

.search-bar {
    display: inline-block;
    outline: 0;
    border: none;
    font-size: 1.5vw;
    background-color: transparent;
    width: 91.5%;
    height: 100%;
    font-family: "Segoe UI Black", serif;
}

.search-options {
    outline: 0;
    border: none;
    float: left;
    background-color: white;
    width: 100%;
    height: 35vh;
    list-style-type: none;
    padding: 0;
    text-align: left;
    overflow-y: auto;
    text-decoration: none;
    color: black;
}

.search-options_wrapper {
    display: none;
    margin-top: 1vh;
}

.options-body {
    display: flex;
    align-items: center;
    vertical-align: center;
    text-decoration: none;
    color: black;
}

.options-name {
    display: inline-block;
    outline: 0;
    border: none;
    background-color: transparent;
    width: 50vw;
    height: 4.5vh;
    font-family: "Segoe UI Black", serif;
    padding-top: 1vh;
    padding-bottom: 1vh;
    text-decoration: none;
    color: black;
    font-size: 1.5vw;
}

.options-name:hover {
    background-color: #eeeeee;
}

.options-icon {
    display: inline-block;
    width: 2.25vw;
    height: auto;
    margin-left: 1%;
}
@media screen and (max-width: 1024px) {
    .wingamma-logo {
        width: 60%;
        margin: 0 0 2%;
    }

    .search-wrapper {
        margin: 2% 0 0;
    }

    .search-cover {
        margin-left: auto;
        margin-right: auto;
        outline: 0;
        background-color: white;
        padding-top: 0.66%;
        padding-bottom: 0.66%;
        border-radius: 100vh;
        width: 90%;
        border: none;
    }
    .search-bar {
        display: inline-block;
        outline: 0;
        border: none;
        font-size: 2vw;
        background-color: transparent;
        width: 91.5%;
        height: 100%;
        font-family: "Segoe UI Black", serif;
    }
    .options-name {
        display: inline-block;
        outline: 0;
        border: none;
        background-color: transparent;
        width: 50vw;
        height: 4.5vh;
        font-family: "Segoe UI Black", serif;
        padding-top: 1vh;
        padding-bottom: 1vh;
        text-decoration: none;
        color: black;
        font-size: 2vw;
    }
}

@media screen and (max-width: 600px) {
    .wingamma-logo {
        width: 60%;
        margin: 0 0 2%;
    }

    .search-wrapper {
        margin: 2% 0 0;
    }

    .search-cover {
        margin-left: auto;
        margin-right: auto;
        outline: 0;
        background-color: white;
        padding-top: 0.66%;
        padding-bottom: 0.66%;
        border-radius: 100vh;
        width: 90%;
        border: none;
    }
    .search-bar {
        display: inline-block;
        outline: 0;
        border: none;
        font-size: 3vw;
        background-color: transparent;
        width: 91.5%;
        height: 100%;
        font-family: "Segoe UI Black", serif;
    }
    .options-name {
        display: inline-block;
        outline: 0;
        border: none;
        background-color: transparent;
        width: 50vw;
        height: 4.5vh;
        font-family: "Segoe UI Black", serif;
        padding-top: 1vh;
        padding-bottom: 1vh;
        text-decoration: none;
        color: black;
        font-size: 3vw;
    }
}

@media screen and (orientation: portrait){

}

@-webkit-keyframes startup {
    from {
        -webkit-transform: translateX(100px);
        opacity: 0;
    }
    to {
        -webkit-transform: translateX(0px);
        opacity: 1;
    }
}

@keyframes startup {
    from {
        transform: translateY(100px);
        opacity: 0;
    }
    to {
        transform: translateY(0px);
        opacity: 1;
    }
}

@-o-keyframes startup {
    from {
        -o-transform: translateX(100px);
        opacity: 0;
    }
    to {
        -o-transform: translateX(0px);
        opacity: 1;
    }
}

@-moz-keyframes startup {
    from {
        -moz-transform: translateX(100px);
        -moz-opacity: 0;
    }
    to {
        -moz-transform: translateX(0px);
        -moz-opacity: 1;
    }
}
